Vagrant.require_version '>= 1.8'

Vagrant.configure(2) do |config|
  config.vm.box = 'ubuntu/trusty64'

  config.vm.provider :virtualbox do |vb|
    vb.memory = 4096
    vb.cpus   = 4
  end

  config.vm.provision :shell, inline: 'apt-get update'

  config.vm.provision :ansible do |ansible|
    #ansible.verbose = true
    ansible.playbook = 'ansible/site.yml'
  end
end
