upstream php {
    # todo add dns and use hostname instead of ip.
    server 10.0.6.21:9876 fail_timeout=1s;
    server 10.0.6.22:9876 fail_timeout=1s;
}

upstream python {
    # proxy pass to host machine;
    # it's quite convinient in development environments while developing web apps in true fastcgi mode (not in php)
    # todo: add environment-based mapping
    server 10.0.6.1:5000;
}

upstream java {
    # proxy pass to host machine too (like python above);
    # todo: add environment-based mapping
    server 10.0.6.1:8000;
}

server {
    listen 80 default_server;
    root   /vagrant/src/main/php;
    index  index.php;

    location / {
        try_files $uri $uri/ /index.php?$uri&$args;
    }

    location ~ \.php$ {
        fastcgi_pass  php;
        include       fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    }

    location /python-app/ {
        proxy_pass http://python/;
    }

    location /java-app/ {
        proxy_pass http://java/;
    }
}
